footer.footer
    .footer__wrapper
        .footer__column.footer__left
            ul
                h3.footer__slogan 내 손 안의 세무 파트너    
            ul
                p
            ul
                button.social-login--kakao
                    a(href='https://www.kakaocorp.com/' target='_blank')
                        span 카카오톡으로 무료 상담 받기

            //- ul
            //-     a(href='https://www.kakaocorp.com/' target='_blank')
            //-         button.social-login--kakao
            //-             span 카카오톡으로 무료 상담 받기
        .footer__column.footer__right
            ul
                h3.company__name 
                    span 솔톤세무회계
            ul
                p
            ul
                p.company__detail 서울특별시 마포구 양화로 161, 8층 825호(동교동)
            ul
                p.company__detail Email. soltonetax@soltonetax.com
            ul
                p.company__detail Tel. 070-4142-3577
            ul
                p.company__detail Fax. 0504-020-3560     
    .footer__copyright
        .footer__text &copy; SolToneTax. All rights reserved.