footer.footer
    .footer__wrapper
        .footer__column
            ul
                h3 내 손 안의 세무 파트너
            ul  
                p 카톡으로 끝
            ul
                button.social-login--github
                    a(href='https://www.kakaocorp.com/' target='_blank')
                        span
                            i.fab.fa-github 
                        | 카톡으로 무료 상담 받기
        .footer__column
            ul
                p.company__name 솔톤 세무
            ul
                p.company__address 서울시 강서구 허준로175
            ul
                p.company__phone Tel. 02-1234-1234
            ul
                p.company__email Email. soltone@soltone.co.kr
            ul
                p.company__fax Fax. 02-1234-1234
            
    div.footer__copyright
        p.footer__text &copy; SolTone. All rights reserved.