footer.footer
    .footer__wrapper
        .footer__column.footer__left
            ul
                h3 내 손 안의 세무 파트너
            ul
                h3 카톡으로 끝        
            ul
                button.social-login--kakao
                    a(href='https://www.kakaocorp.com/' target='_blank')
                        span
                            i.fab.fa-github 
                        | 카톡으로 무료 상담 받기
        .footer__column.footer__right
            ul
                h3.company__name 
                    span 모두의 택스
            ul
                p
            ul
                p.company__detail 서울 마포구 양화로 161(동교동 159-5) 엑시트
            ul
                p.company__detail Email. modutax@modutax.co.kr
            ul
                p.company__detail Tel. 02-1234-1234
            ul
                p.company__detail Fax. 02-1234-1234     
    .footer__copyright
        .footer__text &copy; ModuTax. All rights reserved.