.social-login
    button.social-login--kakaotalk
        span
            i.fab.fa-github 
        | Continue with kakaotalk
    button.social-login--naver
        span
            i.fab.fa-github 
        | Continue with naver
    button.social-login--github
        span
            i.fab.fa-github 
        | Continue with github