.footer {
  background-color: $dark-gray;
  width: 100%;
  padding: 3vh 5vw 5vh 5vw;
  .footer__wrapper {
    padding: 5px 2vw;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .footer__column {
      i {
        color: black;
        font-size: 30px;
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: black;
        font-weight: 600;
        margin: 1vh auto;
      }
    }
  }
  .footer__copyright {
    .footer__text {
      border-top: 1px solid black;
      margin-top: 3em;
      padding-top: 3em;
      text-align: center;
      color: black;
      font-size: 12px;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
