.header {
  background-color: $black;
  z-index: 3;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: fixed;
  transition: top 0.5s;
  display: table;
  width: 100%;
  height: $header-height;
  .header__wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    ul {
      display: flex;
      max-width: $pw-max-width;
      margin: 0 auto;
      li {
        text-align: left;
        font-size: 24px;
        letter-spacing: 1.1px;
        color: #ffffff;
        text-decoration: none;
        i {
          margin-right: 10px;
        }
      }
    }
  }
}
