extends layouts/main

block content
    .home-container
        .home__hero
            h3 My SolTone
        .home__people
            h3 김덕화
        .home__contact
            .home__contact__map
                p 지도
            .home__contact__company
                p 솔톤 세무사무소
            .home__contact__location
                p 주소
            .home__contact__telephone
            .home__contact__email
        .home__trust
            .home__trust__message
                p 유사 전문가로 인해 손해보지 마세요.
            .home__trust__link
                p 이미지