extends layouts/main
include mixins/mapBlock
include mixins/kakaoBtn

block content
    .home-container
        .img__hero
            .img__hero--content
                ul
                    h1 솔톤세무회계
                ul
                    h1 복잡한 세금 카톡으로 관리
                ul
                    +kakaoBtn
            .img__hero--cover

        //- .work__area
        //-     .work__area__title__wrapper
        //-         .work__area__title
        //-             span 주요 분야
        //-     .work__area__detail__wrapper
        //-         .work__area__detail
        //-             h4 사업체 절세
        //-             p 절세요
        //-         .work__area__detail
        //-             h4 사장님 절세
        //-             p 절세요
        //-         .work__area__detail
        //-             h4 재무 리포트
        //-             p 절세요
        //-         .work__area__detail
        //-             h4 기장/세무신고 대리
        //-             p 절세요
        //- .customer__info
        //-     .customer__info--title
        //-         h2 이미 많은 고객님들이 솔톤과 함께 하고 있습니다
        //-     .customer__info--wrapper
        //-         .customer__info__column
        //-             p 300+
        //-             p 부동산세 자문
        //-         .customer__info__column
        //-             p 400+
        //-             p 상속 증여세 자문
        //-         .customer__info__column
        //-             p 100+
        //-             p 세무진단 및 조사지원
        //- .start__kakao
        //-     .start__kakao__wrapper
        //-         ul
        //-             p 가장 쉬운 세무 파트너
        //-         ul  
        //-             p 모든 세무 서비스를 카카오톡 클릭 한 번으로
        //-         ul
        //-             +kakaoBtn
        .home__contact
            .home__contact--title
                span 사무실 안내
            .home__contact__container
                .home__contact__column.home__contact__map
                    +mapBlock
                .home__contact__column.home__contact__info
                    ul
                        h3.home__contact__name
                            span 솔톤세무회계
                    ul
                        p
                    ul
                        p.home__contact__detail 서울특별시 영등포구 국제금융로2길 17,4층 427호
                    ul
                        p.home__contact__detail Email. soltonetax@soltonetax.com
                    ul
                        p.home__contact__detail Tel. 070-4142-3577
                    ul
                        p.home__contact__detail Fax. 0504-020-3560

        //- .home__trust
        //-     .home__trust__message
        //-         p 유사 전문가로 인해 손해보지 마세요.
        //-         p 가장 정확한 정보로 해법을 제시해드립니다.
        //-     .home__trust__link
        //-         ul
        //-             li
        //-                 .trust__link--nts
        //-                     a(href="https://www.nts.go.kr/" target="_blank")
        //-                         img.img__trust(src="/imageSource/nts_logo.jpg" alt="국세청")
        //-             li
        //-                 .trust__link--kacpta
        //-                     a(href="http://www.kacpta.or.kr/" target="_blank")
        //-                         img.img__trust(src="/imageSource/kacpta_logo.jpg" alt="한국세무사회")
        //-             li.trust__link--tt
        //-                 a(href="https://www.tt.go.kr/" target="_blank")
        //-                     img.img__trust(src="/imageSource/tt_logo.jpg" alt="조세심판원")
        //-             li.trust__link--moef
        //-                 a(href="https://www.moef.go.kr/" target="_blank")
        //-                     img.img__trust(src="/imageSource/moef_logo.jpg" alt="기획재정부")
        .home__lastMessage
            .home__lastMessage__wrapper
                h6 솔톤을 통해 효율적인 세금 관리로
                h6 내 자산과 사업을 성장시키세요.
                h6 고객님을 뒤 따르는 세금, 세금을 앞지르는 솔톤.