mixin kakaoBtn
    button(type="button" onclick="window.open('http://pf.kakao.com/_qMxmwK/chat')").social-login--kakao
        span 카톡으로 상담 받기
        //- a(href='http://pf.kakao.com/_qMxmwK/chat' target='_blank')
        //-     span 카톡으로 상담 받기
    //- button.social-login--kakao
    //-     a(href='http://pf.kakao.com/_qMxmwK/chat' target='_blank')
    //-         span 카톡으로 상담 받기