extends layouts/main
include mixins/blogBlock

block content
    .blog-container
        .blog-wrapper
            each blog in blogs
                +blogBlock({
                    id: blog.id,
                    title: blog.title,
                    description: blog.description,
                    image: blog.image,
                    link: blog.link
                })
        .blog-home-btn
            a(href=routes.home) 홈으로 &nbsp;&nbsp; >