extends layouts/main
include mixins/blogBlock

block content
    .progress-container
        .progress-bar#scrollBar
    .blog-container
        .blog-wrapper
            each blog in blogs
                +blogBlock({
                    id: blog.id,
                    bid: blog.bid,
                    title: blog.title,
                    description: blog.description,
                    image: blog.image,
                    outlink: blog.outlink
                })
        .blog-home-btn
            a(href=routes.home) 홈으로 &nbsp;&nbsp; >