extends layouts/main
include mixins/mapBlock
include mixins/kakaoBtn
include mixins/blogBlock
include mixins/startBtn
include mixins/priceTable

block content
    link(rel="preload" as="image" href="https://soltone.cdn.ntruss.com/images/hero_image.jpg")
    .progress-container
        .progress-bar#scrollBar
    .home-container
        .img__hero
            .img__hero--content
                ul
                    h1 솔톤세무회계
                ul
                    h2#typewriter
                ul
                    +kakaoBtn
            .img__hero--cover
        .home__people__container
            h3.people--title 김덕화 대표 세무사
            .peopleIntro 
                p 솔톤세무회계의 김덕화 세무사는 편안한 분위기 속에서
                p 고객님의 현황을 파악하여 최적의 세무서비스를 제공합니다.
            .peopleDetail 
                p • 서강대학교 경제대학원 부동산 경제 석사
                p • 세무법인에서 다년간 근무
                p • 바이오 회사 재경팀 근무
                p • 영등포세무서 국선대리인
                p • 홍삼 프랜차이즈 가맹점주 대상 세금 강의
                p • 경제신문 칼럼 기고
                p • 손해보험회사 경제 블로그 세금 칼럼 기고
                p • 쉬운 세금을 위한 여러 책 발간
        .home__blog
            .home__blog__wrapper
                each blog in blogs
                    +blogBlock({
                        id: blog.id,
                        bid: blog.bid,
                        title: blog.title,
                        description: blog.description,
                        image: blog.image,
                        outlink: blog.outlink
                    })
            .home__blog__browseAll
                a(href=routes.blogs title="블로그 모두 보기") 블로그 모두 보기 &nbsp;&nbsp; >

        .homeBook
            h3.homeBookTitle 도서 소개
            .homeBookContainer
                .homeBook
                    a(href="https://ebook-product.kyobobook.co.kr/dig/epd/ebook/E000006226999" target="_blank" rel="noopener noreferrer external" title="도서 자세히 보기 : 영화, 드라마 속 세금 이야기")
                        img(data-src="https://soltone.cdn.ntruss.com/images/book-E000006226999.webp" alt="영화, 드라마 속 세금 이야기 책 표지").homeBookImg.lazyImg
                .homeBook
                    a(href="https://product.kyobobook.co.kr/detail/S000216270431" target="_blank" rel="noopener noreferrer external" title="도서 자세히 보기 : 세무사가 알려주는 창업 시 준비사항 : 사업자 등록 전에 꼭 숙지해야 하는 준비사항")
                        img(data-src="https://soltone.cdn.ntruss.com/images/book-S000216270431.webp" alt="세무사가 알려주는 창업 시 준비사항 책 표지").homeBookImg.lazyImg                
        .home__lastMessage
            p 솔톤을 통해 효율적인 세금 관리로
            p 내 자산과 사업을 성장시키세요!
            p 고객님을 뒤 따르는 세금, 세금을 앞지르는 솔톤
        
        //- .homePrice
        //-      h2.homePriceTitle.homeTitle 기장 보수
        //-      .tableWrapper
        //-         +priceTable

        .home__contact
            h2.home__contact--title 사무실 안내
            .home__contact__container
                .home__contact__column.home__contact__map
                    +mapBlock
                .home__contact__column.home__contact__info
                    img(src="https://soltone.cdn.ntruss.com/images/soltone_ci.webp" alt="솔톤세무회계 로고").home__contact--logo
                    p.home__contact__detail 우)05855 서울특별시 송파구 법원로8길 8, 614호 (문정동, 문정역2차SKV1)
                    p.home__contact__detail Email. soltonetax@soltonetax.com
                    p.home__contact__detail Tel. 02-3775-0797
                    p.home__contact__detail Fax. 02-6918-0980
                    .home__contact__detail
                        a(href="http://pf.kakao.com/_qMxmwK" target="_blank" title="카카오채널")
                            img(data-src="https://soltone.cdn.ntruss.com/images/kakao_channel_add.webp" alt="kakao channel").home__contact--kakaoChannel.lazyImg
                        a(href="https://place.map.kakao.com/1181780976" target="_blank" title="카카오맵")
                            img(data-src="https://soltone.cdn.ntruss.com/images/kakao_map.webp" alt="kakao map").home__contact--map.lazyImg
                        a(href="https://map.naver.com/v5/entry/place/1421325577" target="_blank" title="네이버맵")
                            img(data-src="https://soltone.cdn.ntruss.com/images/naver_map.webp" alt="naver map").home__contact--map.lazyImg
                        a(href="https://g.page/soltone?share" target="_blank" title="구글맵")
                            img(data-src="https://soltone.cdn.ntruss.com/images/google_map.webp" alt="google map").home__contact--map.lazyImg
