extends layouts/main

block content
    .people-container
        .page-title
            h1 대표 세무사 소개
        .people-description
            p 도레미파솔🎵 솔톤은 친절함의 상징입니다.
            p 친철한 세무사, 솔톤세무회계 김덕화 세무사 입니다.
        .people-introduce
            .people-image
                picture
                    source(srcset="https://soltone.cdn.ntruss.com/images/ceo.webp" type="image/webp")
                    source(srcset="https://soltone.cdn.ntruss.com/images/ceo.jpg" type="image/jpeg")
                    img(src="https://soltone.cdn.ntruss.com/images/ceo.jpg" alt="김덕화 세무사")
                h3 김덕화 대표 세무사
            .people-intro
                p 안녕하세요 솔톤세무회계 김덕화 대표 세무사 입니다.
                br
                p 법인 및 개인사업자 기장, 결산, 외부조정, 양도와 증여 상담 및 신고, 상속세 신고, 세무조사, 상속세 조사, 부동산 자금출처, 수정신고, 경정청구 등 다양한 업무를 수행해왔습니다. 
                br
                p 그리고 고객님들이 어려워하시는 세금 문제를 고객님의 눈높이에 맞춰 설명해드리기 위해 칼럼도 쓰고 있습니다. 
                br
                p 다년간의 경력을 바탕으로 고객님께 최상의 세무서비스를 제공해드리겠습니다.
            .people-detail
                .people-eductaion
                    ul
                        h3 학력
                    ul
                        p
                    ul
                        p 이화여자고등학교 졸업
                    ul
                        p 건국대학교 경제학과 졸업
                    ul
                        p 서강대 경제대학원 재학 중
                .people-career
                    ul
                        h3 경력
                    ul
                        p
                    ul
                        p 51기 세무사 합격
                    ul
                        p 前 세무법인 호연 근무
                    ul
                        p 前 세무법인 세벗 근무
                    ul 
                        p 前 대웅바이오 재경팀 근무
                    ul 
                        p 한화손해보험 인스토리즈 ‘세무가 MONEY?’ 칼럼 기고
        .people-home-btn
            a(href=routes.home) 홈으로 &nbsp;&nbsp; >