mixin people()
    .people
        .people__title 대표 세무사
        .people__wrapper
            .people__column
                img.people__image(src="/imageSource/nts_logo.jpg" alt="솔톤 대표 세무사 김덕화 사진")
            .people__column
                h6 김덕화
                p 세무사