.footer {
  background-color: $background-dark;
  width: 100%;
  margin: 0 auto;
  padding: 3vh 5vw 5vh 5vw;
  font-size: 16px;
  .footer__wrapper {
    max-width: $pw-max-width;
    padding: 5px 2vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left-column right-column";
    align-items: center;
    .footer__right {
      // margin-left: 2em;
      margin: 60px 30px 30px;
      grid-area: right-column;
    }
    .footer__left {
      // margin-left: 2em;
      margin: 0 auto;
      grid-area: left-column;
      width: 200px;
      .footer__slogan {
        width: 100%;
        justify-self: center;
        // display: flex;
        font-weight: 600;
        margin: 2vh auto;
      }
    }
    .footer__column {
      i {
        color: black;
        font-size: 30px;
      }
      :nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      // .footer__slogan {
      //   width: 100%;
      //   justify-self: center;
      // }

      ul {
        display: flex;
        font-weight: 600;
        margin: 1vh auto;
        // li {
        //   color: white;
        //   font-size: 16px;
        //   font-weight: bold;
        // }
      }
      h3 {
        text-align: center;
        color: white;
        font-weight: bold;
      }
      h4 {
        text-align: center;
        color: white;
        font-weight: bold;
      }
      p {
        color: white;
        font-size: 16px;
        font-weight: bold;
      }
      .company__name {
        text-align: left;
        letter-spacing: 1.1px;
        text-align: center;
        color: white;
        font-weight: bold;
        // font-size: 18px;
        span {
          width: initial;
          border-bottom: 2px solid #f1574b;
          display: inline-block;
          padding-bottom: 3px;
        }
      }
      // .company__name {
      //   font-size: 18px;
      //   letter-spacing: 1.1px;

      //   box-sizing: border-box;
      //   display: inline-block;
      //   text-decoration: none;
      //   font-weight: bold;
      //   background-image: linear-gradient(transparent 65%, #a9ffd9 0%);
      //   background-repeat: no-repeat;
      //   background-size: 100% 300%;
      //   background-position: 0% 70%;
      //   transition: background-position 0.5s ease 0s;
      // }
      // .company__name:hover {
      //   background-position: 0% 100%;
      // }
      .company__detail {
        line-height: 1.75;
        color: white;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .footer__copyright {
    border-top: 2px solid #2d273e;
    margin-top: 3em;
    padding-top: 3em;
    padding-bottom: 1em;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .footer {
    .footer__wrapper {
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "left-column left-column" "right-column right-column";
      .footer__left {
        margin: 0 auto;
      }
      .footer__right {
        margin: 5px 1px 1px;
        .company__detail {
          font-size: 12px;
        }
      }
    }
    .footer__copyright {
      font-size: 10px;
    }
  }
}
