.header {
  background-color: $background-dark;
  z-index: 3;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: fixed;
  transition: top 0.5s;
  width: 100%;
  height: $header-height;
  .header__wrapper {
    // vertical-align: middle;
    padding: 20px 5vw 0 5vw;
    // padding-top: 20px;
    // padding-left: 5vw;
    display: grid;
    // justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .header__column {
      font-size: 24px;
      letter-spacing: 1.1px;
      color: #ffffff;
      text-decoration: none;
      display: flex;
      vertical-align: middle;
      align-content: center;
      align-items: center;
      &:last-child {
        justify-self: end;
      }
    }
    .header__menu {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    .header__column {
      a {
        span {
          font-size: 20px;
        }
      }
    }
    .header__menu {
      a {
        font-size: 12px;
      }
    }
  }
}
