.social-login--kakao {
  font-size: 16px;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  background-color: #fae100;
  border-color: #fae100;
  box-shadow: none;
  cursor: pointer;
  text-shadow: none;
  border-style: solid;
}

@media (max-width: 768px) {
  .social-login--kakao {
    font-size: 14px;
    width: 160px;
    height: 48px;
  }
}
