.startBtn {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.2;
  // color: #191919;
  color: $black;
  width: 360px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  background-color: #f39c12;
  // background-color: #a9ffd9;

  border-style: none;
  border-radius: 8px;
  box-shadow: none;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
}
.startBtn:hover {
  font-weight: 800;
  color: #fff;
  background-color: $background-dark;
}

@media (max-width: 600px) {
  .startBtn {
    width: 65vw;
  }
}
