include ../mixins/kakaoBtn

footer.footer
    .footer__wrapper
        .footer__column.footer__left
            h4.footer__slogan 내 손 안의 세무 파트너    
            +kakaoBtn
        .footer__column.footer__right
            ul
                li.company__name 
                    span 솔톤세무회계
            ul
                li
            ul
                li.company__detail 서울특별시 영등포구 여의대방로67길 8, 501호 (여의도동, 고려빌딩)
            ul
                li.company__detail Email. soltonetax@soltonetax.com
            ul
                li.company__detail Tel. 02-3775-0797
            ul
                li.company__detail Fax. 02-3775-0798
    .footer__copyright &copy; SolToneTax. All rights reserved.
