include ../mixins/kakaoBtn

footer.footer
    .footer__wrapper
        .footer__column.footer__left
            h4.footer__slogan 내 손 안의 세무 파트너    
            +kakaoBtn
        .footer__column.footer__right
            ul
                li.company__name 
                    span 솔톤세무회계
            ul
                li
            ul
                li.company__detail 우)05855 서울특별시 송파구 법원로8길 8, 614호 (문정동, 문정역2차SKV1)
            ul
                li.company__detail Email. soltonetax@soltonetax.com
            ul
                li.company__detail Tel. 02-3775-0797
            ul
                li.company__detail Fax. 02-6918-0980
    .footer__copyright &copy; SolToneTax. All rights reserved.
