include ../mixins/kakaoBtn

footer.footer
    .footer__wrapper
        .footer__column.footer__left
            h3.footer__slogan 내 손 안의 세무 파트너    
            +kakaoBtn
        .footer__column.footer__right
            ul
                h3.company__name 
                    span 솔톤세무회계
            ul
                p
            ul
                p.company__detail 서울특별시 영등포구 여의대방로67길 8, 501호 (여의도동, 고려빌딩)
            ul
                p.company__detail Email. soltonetax@soltonetax.com
            ul
                p.company__detail Tel. 070-4142-3577
            ul
                p.company__detail Fax. 0504-020-3560
    .footer__copyright
        .footer__text &copy; SolToneTax. All rights reserved.

