include ../mixins/kakaoBtn

footer.footer
    .footer__wrapper
        .footer__column.footer__left
            ul
                h3.footer__slogan 내 손 안의 세무 파트너    
            ul
                p
            ul
                +kakaoBtn
        .footer__column.footer__right
            ul
                h3.company__name 
                    span 솔톤세무회계
            ul
                p
            ul
                p.company__detail 서울특별시 영등포구 국제금융로2길 17,4층 427호
            ul
                p.company__detail Email. soltonetax@soltonetax.com
            ul
                p.company__detail Tel. 070-4142-3577
            ul
                p.company__detail Fax. 0504-020-3560     
    .footer__copyright
        .footer__text &copy; SolToneTax. All rights reserved.