header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                //- i.fab.fa-youtube    
                span 솔톤세무회계
        .header__column.header__menu
            ul
                li
                    a(href=routes.people) 구성원
