.home-container {
  padding-top: $header-height;

  .homeTitle {
    text-align: center;
    font-size: 28px;
    // padding: 2vh 0 0 0;
    letter-spacing: 1.1px;
    color: $soltone-black;
    letter-spacing: 1.1px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(transparent 65%, #a9ffd9 0%);
    background-repeat: no-repeat;
    background-size: 100% 300%;
    background-position: 0% 70%;
    transition: background-position 0.5s ease 0s;
  }
  .homeTitle:hover {
    background-position: 0% 100%;
  }

  .img__hero .img__hero--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    z-index: 2;
    text-align: center;
  }
  .img__hero--content {
    ul {
      font-weight: 600;
      margin: 3vh auto;
      width: 65vw;
    }
  }
  .img__hero {
    position: relative;
    background-image: url("https://soltone.cdn.ntruss.com/images/hero_image.jpg");
    height: 50vh;
    background-size: cover;
    // background-attachment: fixed;
    .img__hero--cover {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  }

  .home__people__container {
    background-color: $background-white;
    margin: 4vh auto;
    text-align: center;
    .people--title {
      text-align: center;
      margin: 2vh 0;
      font-size: 28px;
      letter-spacing: 1.1px;
      color: $soltone-black;
      box-sizing: border-box;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      background-image: linear-gradient(transparent 65%, #a9ffd9 0%);
      background-repeat: no-repeat;
      background-size: 100% 300%;
      background-position: 0% 70%;
      transition: background-position 0.5s ease 0s;
    }
    .people--title:hover {
      background-position: 0% 100%;
    }
    .peopleIntro {
      width: 500px;
      margin: 2vh auto;
      line-height: 1.75;
      color: $soltone-black;
      text-align: center;
    }
    .peopleDetail {
      font-size: 16px;
      width: 320px;
      margin: 5vh auto;
      line-height: 2;
      color: $soltone-black;
      text-align: left;
    }

    .people--detail--btn {
      margin: 5vh auto;
      text-align: center;
      a {
        display: block;
        color: #ff5567;
        letter-spacing: 1.3px;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  .home__blog {
    width: 100%;
    // max-width: $pw-max-width;
    background-color: $background-yellow;
    padding: 5vh 0;
    .home__blog__wrapper {
      max-width: $pw-max-width;
      margin: 0 auto 0 auto;
      padding: 6vh 2vw 0 2vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "left-column right-column";
      align-items: flex-start;
    }
    .home__blog__browseAll {
      width: 100%;
      max-width: 600px;
      margin: 4vh auto;
      text-align: center;
      cursor: pointer;
      a {
        display: block;
        color: #ff5567;
        letter-spacing: 1.3px;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  .homeBook {
    background-color: $background-white;
    margin: 4vh auto;
    text-align: center;
    width: 100%;
    max-width: 1600px;
    .homeBookTitle {
      text-align: center;
      margin: 2vh 0;
      font-size: 28px;
      letter-spacing: 1.1px;
      color: $soltone-black;
      box-sizing: border-box;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      background-image: linear-gradient(transparent 65%, #a9ffd9 0%);
      background-repeat: no-repeat;
      background-size: 100% 300%;
      background-position: 0% 70%;
      transition: background-position 0.5s ease 0s;
    }
    .homeBookTitle:hover {
      background-position: 0% 100%;
    }
    .homeBookContainer {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
    .homeBook {
      background-color: $background-blue;
      border: 2px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
      padding: 1.77em;
      margin: 2.2em;
      width: 390px;
      text-align: center;
      .homeBookImg {
        width: 329px;
        height: 498px;
        object-fit: cover;
        margin: auto; // Center align the image
        display: block;
      }
    }
  }

  .messageContainer {
    width: 100%;
    max-width: 1600px;
    margin: 4em auto;
    .messageContainerTitle {
      text-align: center;
      h3 {
        font-size: 28px;
        box-sizing: border-box;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        background-image: linear-gradient(transparent 65%, #a9ffd9 0%);
        background-repeat: no-repeat;
        background-size: 100% 300%;
        background-position: 0% 70%;
        transition: background-position 0.5s ease 0s;
      }
      h3:hover {
        background-position: 0% 100%;
      }
      p {
        margin: 2em auto 0 auto;
        font-size: 16px;
        color: $black;
      }
    }

    .messageMain {
      display: flex;
      justify-content: center;
      .message {
        border: 2px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
        padding: 1.77em;
        margin: 2em;
        width: 300px;
        .messageTitle {
          h4 {
            font-size: 1.33em;
            line-height: 1.33em;
            box-sizing: border-box;
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
          }
        }
        .messageBody {
          margin: 1em 0 0 0;
          p {
            font-size: 1em;
            line-height: 1.33em;
            color: rgb(141, 141, 141);
            margin-bottom: 0.2em;
          }
        }
      }
      .message:hover {
        box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
        transform: translate(0px, -3px);
        background-color: rgba(245, 241, 237, 0.35);
      }
    }
    .messageBtn {
      margin: 30px auto;
    }
  }
  .home__lastMessage {
    width: 100%;
    background-color: $background-blue;
    margin: 0 auto;
    padding: 5vh 0;
    font-size: $title-font-size;
    text-align: center;
    line-height: 200%;
    letter-spacing: 1.1px;
    color: $soltone-black;
  }
  .homePrice {
    margin: 0 auto;
    padding: 6vh 0 5vh 0;
    text-align: center;
    .tableWrapper {
      margin: 0 auto;
      padding: 40px 0 0 0;
      max-width: 800px;
    }
  }

  .home__contact {
    margin: 0 auto;
    padding: 6vh 0 5vh 0;
    text-align: center;
    .home__contact--title {
      text-align: center;
      font-size: 28px;
      // padding: 2vh 0 0 0;
      letter-spacing: 1.1px;
      color: $soltone-black;
      letter-spacing: 1.1px;
      box-sizing: border-box;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      background-image: linear-gradient(transparent 65%, #a9ffd9 0%);
      background-repeat: no-repeat;
      background-size: 100% 300%;
      background-position: 0% 70%;
      transition: background-position 0.5s ease 0s;
    }
    .home__contact--title:hover {
      background-position: 0% 100%;
    }
    .home__contact__container {
      margin: 2vh auto;
      padding: 2vh 0 0 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "left-column right-column";
      align-items: center;
      text-align: left;
      .home__contact__map {
        margin: 0 auto;
        padding-left: 6vw;
        grid-area: left-column;
      }
      .home__contact__info {
        padding-left: 2vw;
        grid-area: right-column;
        .home__contact__name {
          font-size: 16px;
        }
        .home__contact--logo {
          width: 200px;
          margin: 3vh 0 3vh 0;
        }
        .home__contact--map {
          width: 40px;
          height: 40px;
          margin-right: 25px;
        }
        .home__contact--kakaoChannel {
          height: 40px;
          margin-right: 25px;
        }
        .home__contact__detail {
          font-size: 16px;
          color: $soltone-black;
          margin: 3vh auto;
        }
      }
    }
  }
}

//////////////////////////////
///////// MOBILE /////////////
//////////////////////////////

@media (max-width: 768px) {
  .home-container {
    .img__hero--content {
      min-width: 200px;
      ul {
        width: 80vw;
      }

      h1 h2 {
        font-size: 18px;
      }
    }
    .home__contact {
      .home__contact__container {
        grid-template-rows: 1.6fr 1fr;
        grid-template-areas: "left-column left-column" "right-column right-column";
        margin: 0 auto;
        .home__contact__info {
          margin-left: 5vw;
          .home__contact__detail {
            margin: 2vh auto;
          }
          .home__contact--logo {
            display: none;
          }
        }
      }
    }
    .home__people__container {
      margin: 4vh auto;
      .people--title {
        font-size: 20px;
      }
      .peopleIntro {
        width: 96%;
        font-size: 16px;
      }
    }
    .home__blog {
      padding: 1vh 0;
      .home__blog__wrapper {
        display: block;
      }
    }
    .homeBook {
      .homeBookTitle {
        font-size: 20px;
      }
      .homeBookContainer {
        display: block;
        margin: 0 auto;
        .homeBook {
          margin: 2em auto;
          width: 80%;
          .homeBookImg {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .messageContainer {
      .messageContainerTitle {
        h3 {
          font-size: 20px;
        }
      }
      .messageMain {
        display: block;
        margin: 0 auto;
        .message {
          margin: 2em auto;
          width: 80%;
          .messageTitle {
            h4 {
              font-size: 18px;
            }
          }
          .messageBody {
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
    .home__lastMessage {
      font-size: 16px;
    }
    .homePrice {
      .homePriceTitle {
        font-size: 20px;
      }
    }
    .home__contact {
      .home__contact--title {
        font-size: 20px;
      }
      .home__contact__container {
        .home__contact__map {
          padding-left: 0;
        }
      }
    }
  }
}
