.home-container {
  padding-top: $header-height;
  .img__hero .img__hero--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    z-index: 2;
    text-align: center;
  }
  .img__hero--content {
    ul {
      font-weight: 600;
      margin: 3vh auto;
      width: 65vw;
    }
  }
  .img__hero {
    position: relative;
    background-image: url("https://soltone.cdn.ntruss.com/images/hero_image.jpg");
    height: 50vh;
    background-size: cover;
    // background-attachment: fixed;
    .img__hero--cover {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  }
  .mainMessage-container {
    margin: 2vh auto;
    padding: 5vh 2vw;
    background-color: $background-white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "left-column center-column right-column";
    align-items: center;
    .to-owner {
      margin: 0 auto;
      grid-area: left-column;
    }
    .to-employee {
      margin: 0 auto;
      grid-area: center-column;
    }
    .to-people {
      margin: 0 auto;
      grid-area: right-column;
    }
    .mainMessage__column {
      width: 30vw;
      max-width: 475px;
      height: 250px;
      margin: 0 auto;
      padding: 4vh 3vw;
      background-color: $background-yellow;
      color: $soltone-black;
      .mainMessage-title {
        text-align: center;
        font-size: $sub-titile-font-size;
        padding: 2vh 0;
        letter-spacing: 1.1px;
        h3 {
          width: initial;
          border-bottom: 2px solid #f1574b;
          display: inline-block;
          padding-bottom: 3px;
        }
      }
      .mainMessage-body {
        margin: 3vh 0 0 0;
        line-height: 1.75;
        font-size: 16px;
      }
    }
  }
  .people__container {
    background-color: $background-white;
    margin: 5vh auto 0 auto;
    .people--title {
      text-align: center;
      margin: 2vh 0;
      font-size: $title-font-size;
      letter-spacing: 1.1px;
      color: $soltone-black;
      span {
        width: initial;
        border-bottom: 2px solid #f1574b;
        display: inline-block;
        padding-bottom: 3px;
      }
    }
    .people--image {
      text-align: center;
      img {
        border-radius: 5px;
        width: 200px;
      }
      h1 {
        // font-weight: bold;
        line-height: 3;
        color: $soltone-black;
      }
    }
    .people--intro {
      margin: 5vh 30vw;
      line-height: 1.75;
      color: $soltone-black;
    }
    .people--detail--btn {
      margin: 5vh auto;
      text-align: center;
      a {
        display: block;
        color: #ff5567;
        letter-spacing: 1.3px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .home__blog {
    width: 100%;
    max-width: $pw-max-width;
    background-color: $background-yellow;
    padding: 5vh 0;
    .home__blog__wrapper {
      margin: 0 auto 0 auto;
      padding: 6vh 2vw 0 2vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "left-column right-column";
      align-items: flex-start;
    }
    .home__blog__browseAll {
      margin: 5vh auto;
      text-align: center;
      cursor: pointer;
      a {
        display: block;
        color: #ff5567;
        letter-spacing: 1.3px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .home__lastMessage {
    width: 100vw;
    max-width: $pw-max-width;
    margin: 0 auto;
    padding: 5vh 0;
    background-color: $background-blue;
    font-size: $sub-titile-font-size;
    text-align: center;
    line-height: 200%;
    letter-spacing: 1.1px;
    color: $soltone-black;
  }
  .home__contact {
    margin: 0 auto;
    padding: 5vh 0;
    .home__contact--title {
      text-align: center;
      font-size: $title-font-size;
      padding: 2vh 0;
      letter-spacing: 1.1px;
      color: $soltone-black;
      span {
        width: initial;
        border-bottom: 2px solid #f1574b;
        display: inline-block;
        padding-bottom: 3px;
      }
    }
    .home__contact__container {
      margin: 2vh auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "left-column right-column";
      align-items: center;
      .home__contact__map {
        margin: 0 auto;
        padding-left: 2vw;
        grid-area: left-column;
      }
      .home__contact__info {
        padding-left: 2vw;
        grid-area: right-column;
        ul {
          display: flex;
          margin: 3vh auto;
        }
        .home__contact__name {
          font-size: 16px;
        }
        .home__contact--logo {
          width: 200px;
          margin: 0 0 20px 0;
        }
        .home__contact__detail {
          font-size: 16px;
          color: $soltone-black;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home-container {
    .img__hero--content {
      min-width: 200px;
      h1 {
        font-size: 18px;
      }
    }
    .mainMessage-container {
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "left-column left-column left-column" "center-column center-column center-column" "right-column right-column right-column";
      .mainMessage__column {
        width: 88vw;
        height: 200px;
        margin: 2vh auto;
        padding: 3vh 3vw;
        .mainMessage-body {
          font-size: 14px;
        }
      }
    }
    .home__contact {
      .home__contact__container {
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "left-column left-column" "right-column right-column";
        .home__contact__info {
          margin-left: 5vw;
          ul {
            margin: 2vh auto;
          }
          .home__contact--logo {
            display: none;
          }
        }
      }
    }
    .people__container {
      margin: 3vh auto 0 auto;
      .people--intro {
        margin: 5vh 10vw;
      }
    }
    .home__blog {
      padding: 1vh 0;
      .home__blog__wrapper {
        display: block;
      }
    }
    .home__lastMessage {
      font-size: 14px;
    }
    .home__contact {
      .home__contact__container {
        .home__contact__info {
        }
      }
    }
  }
}
