.home-container {
  padding-top: $header-height;
  .img__hero .img__hero--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    z-index: 2;
    text-align: center;
  }
  .img__hero--content {
    ul {
      font-weight: 600;
      margin: 3vh auto;
    }
  }
  .img__hero {
    position: relative;
    background-image: url("https://kr.object.ncloudstorage.com/soltone/images/hero_image.jpg");
    height: 50vh;
    background-size: cover;
    // background-attachment: fixed;
    .img__hero--cover {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  }
  // .start__kakao {
  //   width: 100vw;
  //   margin-left: calc(-50vw + 50%);
  //   background-color: $background-white;
  //   .start__kakao__wrapper {
  //     text-align: center;
  //     margin: 0 auto;
  //     max-width: $pw-max-width;
  //     padding: 4vh 3vw;
  //     ul {
  //       font-size: $sub-titile-font-size;
  //       line-height: 200%;
  //       margin: 2vh auto;
  //     }
  //     p {
  //       font-size: 20px;
  //       line-height: 1.75;
  //     }
  //     button {
  //       margin-top: 2vh;
  //     }
  //   }
  // }
  // .home__trust {
  //   margin: 0 auto;
  //   padding: 3vh 3vw;
  //   .home__trust__message {
  //     margin: 0 auto;
  //     padding: 3vh 3vw;
  //     text-align: center;
  //     font-size: 28px;
  //     line-height: 150%;
  //   }
  //   ul {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     margin: 3vh auto;
  //     li {
  //       margin: auto;
  //     }
  //   }
  //   .home__trust__link {
  //     margin: 0 auto;
  //     padding: 0 3vw;
  //     .img__trust {
  //       width: 100px;
  //     }
  //   }
  // }
  // .customer__info {
  //   margin: 0 auto;
  //   padding: 3vh 3vw;
  //   .customer__info--title {
  //     text-align: center;
  //     font-size: $sub-titile-font-size;
  //     line-height: 150%;
  //     margin: 0 auto;
  //     padding: 3vh 3vw;
  //   }
  //   .customer__info--wrapper {
  //     display: grid;
  //     grid-template-columns: repeat(3, 1fr);
  //     align-items: center;
  //     .customer__info__column {
  //       text-align: center;
  //       font-size: $sub-titile-font-size;
  //       line-height: 150%;
  //       margin: 0 auto;
  //       padding: 3vh 3vw;
  //       :nth-child(1) {
  //         width: 100%;
  //         justify-self: center;
  //       }
  //       &:nth-child(2) {
  //         width: 100%;
  //         justify-self: center;
  //       }
  //     }
  //   }
  // }
  .mainMessage-container {
    margin: 2vh auto;
    padding: 5vh 2vw;
    background-color: $background-white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "left-column center-column right-column";
    align-items: center;
    .to-owner {
      margin: 0 auto;
      grid-area: left-column;
    }
    .to-employee {
      margin: 0 auto;
      grid-area: center-column;
    }
    .to-people {
      margin: 0 auto;
      grid-area: right-column;
    }
    .mainMessage__column {
      width: 30vw;
      margin: 0 auto;
      padding: 4vh 3vw;
      background-color: $background-yellow;
      .mainMessage-wrapper {
        height: 30vh;
        .mainMessage-title {
          text-align: center;
          font-size: $sub-titile-font-size;
          padding: 2vh 0;
          h3 {
            width: initial;
            border-bottom: 2px solid #f1574b;
            display: inline-block;
            padding-bottom: 3px;
          }
        }
        .mainMessage-body {
          margin: 3vh 0 0 0;
          p {
            line-height: 1.75;
            font-size: 16px;
          }
        }
      }
    }
  }
  .people-container {
    background-color: $background-white;
    margin: 0 auto;
    .page-title {
      text-align: center;
      margin: 2vh 0;
      font-size: 30px;
      letter-spacing: 1.1px;
    }
    .people-description {
      text-align: center;
      margin: 5vh 0;
      p {
        line-height: 1.75;
      }
    }
    .people-introduce {
      margin: 0 auto;
      .people-image {
        text-align: center;
        img {
          border-radius: 5px;
          width: 200px;
        }
        h3 {
          font-weight: bold;
          line-height: 3;
        }
      }
      .people-intro {
        margin: 5vh 30vw;
        p {
          line-height: 1.75;
        }
      }
      .people-detail-btn {
        margin: 5vh auto;
        text-align: center;
        a {
          display: block;
          color: #ff5567;
          letter-spacing: 1.3px;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .people-detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "left-column right-column";
        margin: 0 auto;
        padding: 5vh 0 5vh 0;
        width: 40vw;
        justify-self: center;
        ul {
          display: flex;
          margin: 1vh auto;
        }
        h3 {
          width: initial;
          border-bottom: 2px solid #f1574b;
          display: inline-block;
          padding-bottom: 3px;
        }
        .people-education {
          grid-area: left-column;
          // width: 100px;
        }
        .people-career {
          margin: 0 auto;
          padding-bottom: 5vh;
          grid-area: right-column;
        }
      }
    }
  }
  .home__lastMessage {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 5vh 0;
    background-color: $background-blue;
    .home__lastMessage__wrapper {
      margin: 0 auto;
      max-width: $pw-max-width;
      font-size: $sub-titile-font-size;
      text-align: center;
      line-height: 200%;
    }
  }
  .home__contact {
    margin: 0 auto;
    padding: 5vh 0;
    background-color: $background-yellow;
    .home__contact--title {
      text-align: center;
      font-size: $sub-titile-font-size;
      padding: 2vh 0;
      span {
        width: initial;
        border-bottom: 2px solid #f1574b;
        display: inline-block;
        padding-bottom: 3px;
      }
    }
    .home__contact__container {
      margin: 2vh auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "left-column right-column";
      align-items: center;
      .home__contact__map {
        margin: 0 auto;
        padding-left: 2vw;
        grid-area: left-column;
      }
      .home__contact__info {
        padding-left: 2vw;
        grid-area: right-column;
        ul {
          display: flex;
          margin: 3vh auto;
        }
        .home__contact__name {
          font-size: 16px;
        }
        .home__contact__detail {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home-container {
    .img__hero--content {
      min-width: 200px;
      h1 {
        font-size: 18px;
      }
    }
    .mainMessage-container {
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "left-column left-column left-column" "center-column center-column center-column" "right-column right-column right-column";
      .mainMessage__column {
        width: 90vw;
        margin: 2vh auto;
        padding: 3vh 3vw;
        .mainMessage-wrapper {
          height: 27vh;
        }
      }
    }
    .home__contact {
      .home__contact__container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "left-column left-column" "right-column right-column";
        .home__contact__info {
          margin-left: 5vw;
        }
      }
    }
    .people-container {
      .people-introduce {
        .people-intro {
          margin: 5vh 10vw;
        }
      }
    }
    .home__lastMessage {
      .home__lastMessage__wrapper {
        h6 {
          font-size: 14px;
        }
      }
    }
  }
}
