$red: #ea232c;
$dark-red: #bb2f2a;
$grey: #f5f5f5;
$black: #444444;
$soltone-black: #334147;
$dark-grey: #e7e7e7;
$dark-gray: #e7e7e7;
$pw-max-width: 1600px;
$white: #ffffff;
$title-font-size: 20px;
$sub-titile-font-size: 16px;
$description-font-size: 14px;

// Color
$background-dark: #2e394d;
$background-yellow: rgb(245, 241, 237);
$background-blue: #e1eaf4;
$background-white: #ffffff;
$text-red: #f1574b;

$header-height: 64px;
